* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    list-style: none;
}

:root {
    --white: #FCFCFC;
    --white50: #F4F4F4;
    --gray100: #F5F4F6;
    --gray300: #ABB2B8;
    --green: #18753D;
    --light-blue: #F0F7FF;
    --black: #182524;
}

/* navbar */
nav {
    width: 100%;
    background-color: var(--white);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2em;
}

nav form {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

nav form>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

nav form>input {
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
    flex: 1;
    outline: none;
    height: 35px;
    background-color: transparent;
}

nav>div:first-child {
    flex: 0 0 400px;
    height: 80px;
    background-color: yellow;
}

nav>div>div.badge {
    width: 45px;
    height: 45px;
    position: relative;
    margin-left: 10px;
}

nav>div>div.badge>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav>div>div.badge>div {
    position: absolute;
    top: 6px;
    right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
}

nav div div.user_info {
    margin-left: 20px;
}

nav div div.user_info>div.avatar {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 100%;
    overflow: hidden;
}

nav div div.user_info>div.avatar>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav ul {
    padding-left: 1rem;
}

nav ul>li:first-child {
    font-weight: 500;
    font-size: 18px;
}

nav ul>li:last-child {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray300);
}

div.main_container>div.main_body {
    width: 80%;
    flex: 4;
    height: 100vh;
    background-color: #000;
}

div.main_body>div {
    width: 35%;
    height: calc(100vh - 70px);
    background-color: blue;
}

div.main_body>div {
    width: 100%;
}

div.main_body>div>div.center_container {
    width: 60%;
    height: calc(100vh - 70px);
    background-color: var(--gray100);
}

div.main_body>div>div.center_container .card {
    width: 90%;
    margin: auto;
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.2rem;
    border: none;
    border-radius: 15px;
}

div.main_body>div>div.center_container .card p {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray300);
    padding: 0;
    margin: 0;
}

div.main_body>div>div.center_container .card h1 {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    margin-top: 20px;
}

div.main_body>div>div.center_container .card h2 {
    font-weight: 500;
    font-size: 14px;
    color: var(--gray300);
}

div.main_body>div .sm-card {
    background-color: var(--white);
    box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 95%;
}

div.main_body>div .sm-card .avatar.circle {
    border-radius: 100% !important;
}

div.main_body>div .sm-card .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #18753D;
}

div.main_body>div .sm-card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.main_body>div .sm-card img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}

div.main_body>div .sm-card h1 {
    font-weight: 500;
    font-size: 14px !important;
    color: var(--black);
}

div.main_body>div .sm-card p {
    font-weight: 500;
    font-size: 12px !important;
    color: var(--gray300);
    margin-top: 3px;
}




div.main_body>div>div.assignment_container {
    width: 40%;
    height: calc(100vh - 70px);
    background-color: var(--gray100);
    padding-top: 20px;
    overflow-y: auto;
    position: sticky;
    top: 70px;
}

div.main_body>div>div.assignment_container>div {
    width: 98%;
}

div.main_body>div>div.assignment_container div.assignment_card {
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
}

div.main_body>div>div.assignment_container div.assignment_card h1 {
    font-weight: 500;
    font-size: 20px;
}

div.main_body>div>div.assignment_container div.assignment_card .see_more {
    border: 1px solid var(--gray300);
    padding: 2px 10px;
    border-radius: 15px;
    cursor: pointer;
}